@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-teal: #2EC4B6;
  --color-offblack: #011627;
  --color-orange: #FF9F1C;
  --color-offwhite: #fdfffc;
  --font-heading: var(--font-orbitron);
  --font-body: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
.font-heading {
  font-family: var(--font-orbitron), sans-serif;
}

.font-body {
  font-family: var(--font-inter), sans-serif;
}